.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
    font-size:16px;
}


h3 {color: #ED1951; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: #347DBE;
}

.nav > li > a:hover {
    background-color: #248ec2;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #347DBE;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #248EC2;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #347DBE;
    border-color: #015CAE;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #015CAE;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #015CAE;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #347DBE;
    border-color: #347DBE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #347DBE;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #248ec2;
    border-color: #347DBE;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #015CAE;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}

/* WoltLab customization */
body {
    background-color: rgb(250, 250, 250);
    color: rgb(44, 62, 80);
    display: flex;
    line-height: 1.48;
    flex-direction: column;
    font-family: "Open Sans", "Segoe UI", "DejaVu Sans", "Lucida Grande", "Helvetica", sans-serif;
    font-size: 14px;
    height: auto;
    min-height: 100%;
}

body > .container {
  flex: 1 0 auto;
  padding-bottom: 20px;
  width: 100%;
}

h1, h2, h3 {
    font-family: inherit;
    font-weight: 300;
}

a {
  color: #E65100
}

a:hover {
  color: #BF360C;
  text-decoration: none;
}

.navbar-inverse {
  background-color: rgb(50, 92, 132);
  border-width: 0;
}

#toc {
  margin: 40px 0 20px 0;
}

#toc ul  li {
  font-size: 14px !important;
}

#toc li li li {
  font-size: 12px !important;
}

#toc ul {
  max-width: 100% !important;
}

.post-content p {
  text-align: justify;
}

.footerBox {
  background-color: #ECEFF1;
  flex: 0 0 auto;
  padding: 40px 0;
}

.footerBox > .container {
  display: flex;
}

.footerBoxLeft {
  flex: 1 1 auto;
}

.footerBoxLeft p {
  font-size: 12px;
  margin-bottom: 0;
}

.footerBoxRight {
  align-self: center;
  flex: 0 0 auto;
}

.pageFooter {
  background-color: #325C84;
  color: #D9DCDE;
  flex: 0 0 auto;
  padding: 20px 0;
  text-align: center;
}

.pageFooter a {
  color: #D9DCDE;
}

.pageFooter a:hover {
  color: #FFFFFF;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: #FFFFFF;
}

.nav ul li a {
  background-color: #FFFFFF;
}

.bs-callout {
  background-color: #FFFFFF;
  text-align: justify;
}

.navbar .projectTitle {
  font-family: "Open Sans", "Segoe UI", "DejaVu Sans", "Lucida Grande", "Helvetica", sans-serif;
  font-weight: 300;
}
