<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy; {{ site.time | date: "%Y"  }} <a class="no_icon" href="https://www.woltlab.com">{{site.company_name}}</a>. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
                <br><br>
                <p><a class="no_icon" href="https://www.woltlab.com"><img src="{{ site.url }}/{{ "images/woltlab-black.png" }}" srcset="{{ site.url }}/{{ "images/woltlab-black@2x.png" }} 2x" height="40" width="204" alt=""></a></p>
                </div>
            </div>
</footer>
