{% include custom/sidebarconfigs.html %}

<ul id="mysidebar" class="nav">
    <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li>

    {% for entry in sidebar %}
        {% for folder in entry.folders %}
            <li>
                <a href="#">{{ folder.title }}</a>
                <ul>
                    {% for folderitem in folder.folderitems %}
                        {% if folderitem.title %}
                            {% capture identifier %}{{ folderitem.url | remove: "/" | remove: ".html" }}{% endcapture %}
                            {% if folderitem.external_url %}
                                <li data-identifier="{{ identifier }}"><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
                            {% elsif page.url == folderitem.url %}
                                <li class="active" data-identifier="{{ identifier }}"><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
                            {% else %}
                                <li data-identifier="{{ identifier }}"><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
                            {% endif %}
                        {% endif %}

                        {% for subfolders in folderitem.subfolders %}
                            <li class="subfolders">
                                <a href="#">{{ subfolders.title }}</a>
                                <ul>
                                    {% for subfolderitem in subfolders.subfolderitems %}
                                        {% capture identifier %}{{ subfolderitem.url | remove: "/" | remove: ".html" }}{% endcapture %}
                                        {% if subfolderitem.external_url %}
                                            <li data-identifier="{{ identifier }}"><a href="{{subfolderitem.external_url}}" target="_blank">{{subfolderitem.title}}</a></li>
                                        {% elsif page.url == subfolderitem.url %}
                                            <li class="active" data-identifier="{{ identifier }}"><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                                        {% else %}
                                            <li data-identifier="{{ identifier }}"><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    {% endfor %}
</ul>

<script>
(function() {
    var sidebar = $('#mysidebar');
    var item = sidebar.find('.active');
    if (item.length === 0) {
        var parent = '{{ page.parent }}';
        if (parent) {
            sidebar.find('li[data-identifier="' + parent + '"]').addClass('active');
        }
    }

    sidebar.find(".active").parents('li').toggleClass("active");
})();
</script>
