/* Font Family: Roboto
 * Designed by: Christian Robertson, Paratype, Font Bureau
 * License: OFL
 */

 @font-face {
	/* Copyright: Copyright 2011 Google Inc. All Rights Reserved. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),  url("roboto-400.woff2") format('woff2');
}

@font-face {
	/* Copyright: Copyright 2011 Google Inc. All Rights Reserved. */
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'),  url("roboto-400-italic.woff2") format('woff2');
}

@font-face {
	/* Copyright: Copyright 2011 Google Inc. All Rights Reserved. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),  url("roboto-700.woff2") format('woff2');
}

@font-face {
	/* Copyright: Copyright 2011 Google Inc. All Rights Reserved. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),  url("roboto-300.woff2") format('woff2');
}

/* Font Family: Roboto Mono
 * Designed by: Christian Robertson
 * License: APACHE2
 */

@font-face {
	/* Copyright: Copyright 2015 The Roboto Mono Project Authors (https://github.com/googlefonts/robotomono) */
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Mono Regular'), local('RobotoMono-Regular'),  url("roboto-mono-400.woff2") format('woff2');
}

@font-face {
	/* Copyright: Copyright 2015 The Roboto Mono Project Authors (https://github.com/googlefonts/robotomono) */
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Mono Italic'), local('RobotoMono-Italic'),  url("roboto-mono-400-italic.woff2") format('woff2');
}

body, input{
    font-family:"Roboto",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

code, kbd, pre {
    font-family:"Roboto Mono",SFMono-Regular,Consolas,Menlo,monospace;
}

.md-announce a, .md-announce a:focus, .md-announce a:hover {
    color: currentColor;
}

.md-footer-copyright a:not(:last-child) {
    margin-right: 10px;
}

.md-header-nav__button.md-logo img {
    height: 30px;
    width: auto;
    position: relative;
    top: -2px;
}

.md-nav__title .md-nav__button.md-logo img {
    display: none;
}

.md-header-nav__title {
    padding-left: 0;
}
